.login-form {
  background: #F6F6F6;
  border-radius: 15px;
  padding: 20px 10px;
  box-shadow: 0px 0px 9px #0a0a0a;
  max-width:90%;
  margin: 0px auto 20px auto;
}
.login-form{
  max-width:90%;
  width:400px;
  .button{
    width:49%;
  }
}
