header{
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width:100%;
  padding: 0 20px;
  height:100px;
  display: grid !important;
  grid-template-columns: 85px auto 70px;

  .logo{
    height:70px;
    margin:15px 15px 15px 0;
  }

  .name {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
  }
  .icons-container, .icons {
    display: flex;
    align-items: center;
  }
  .icons-container{
    flex-direction: column;
    justify-content: center;
    .niminame {
      color: lawngreen;
    }
  }
  .icons {
    gap: 10px;
    justify-content: space-between;
  }

  .cart, .login{
    width:30px;
  }

  .link{
    cursor:pointer;
  }
}
.transparency{
  background: rgba(255, 255, 255, .3);
}
